<%- include('../header.ejs') %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div>
    <form id="postForm" action="/admin/<%= postId %>/edit" method="POST">
        <select name="mainId" class="form-select" id="mainSelect">
            <option>메인 카테고리 선택</option>
            <option selected value="<%= mainCategoryInfo.id %>"><%= mainCategoryInfo.title %></option>
            <% mainCategoryList.forEach(mainCategory => { %>
                <% if (mainCategory.id != mainCategoryInfo.id) { %>
            <option value="<%= mainCategory.id %>"><%= mainCategory.title %></option>
                <% } %>
            <% }) %>
        </select>
        <select name="subId" class="form-select" id="subSelect">
            <option>서브 카테고리 선택</option>
            <option selected value="<%= subCategoryInfo.id %>"><%= subCategoryInfo.title %></option>
        </select>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">제목</span>
            <input type="text" value="<%= title %>" class="form-control" name="title" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="main-container">
			<div class="presence" id="editor-presence"></div>
			<div class="editor-container editor-container_document-editor editor-container_include-outline editor-container_include-annotations editor-container_include-pagination" id="editor-container">
				<div class="editor-container__menu-bar" id="editor-menu-bar"></div>
				<div class="editor-container__toolbar" id="editor-toolbar"></div>
				<div class="editor-container__editor-wrapper">
					<div class="editor-container__sidebar">
						<div id="editor-outline"></div>
					</div>
					<div class="editor-container__editor">
						<div id="editor"></div>
					</div>
					<div class="editor-container__sidebar">
						<div id="editor-annotations"></div>
					</div>
				</div>
			</div>
			<div class="revision-history" id="editor-revision-history">
				<div class="revision-history__wrapper">
					<div class="revision-history__editor" id="editor-revision-history-editor"></div>
					<div class="revision-history__sidebar" id="editor-revision-history-sidebar"></div>
				</div>
			</div>
		</div>
        <input type="hidden" id="hiddenContent" name="content"></div>
        <button class="btn btn-primary btn-sm" type="submit">작성</button>
    </form>

    <script src="https://cdn.ckbox.io/CKBox/2.4.0/ckbox.js"></script>
    <script type="importmap">
        {
            "imports": {
                "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/42.0.0/ckeditor5.js",
                "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/42.0.0/",
                "ckeditor5-premium-features": "https://cdn.ckeditor.com/ckeditor5-premium-features/42.0.0/ckeditor5-premium-features.js",
                "ckeditor5-premium-features/": "https://cdn.ckeditor.com/ckeditor5-premium-features/42.0.0/"
            }
        }
    </script>
    <script type="module" src="../main.js"></script>

</div>
<script>
    function selectSubCategories(mainId) {
        $.ajax({
            url: 'select/subCategory',
            type: 'GET',
            data: { mainId: mainId },
            success: function(response) {
                var subSelect = $('#subSelect');
                subSelect.empty();

                if (response && response.length > 0) {
                    response.forEach(function(subCategory) {
                        var newOption = $('<option></option>')
                            .val(subCategory.id)
                            .text(subCategory.title);
                        subSelect.append(newOption);
                    });
                } else {
                    var defaultOption = $('<option></option>')
                        .text('해당 메인 카테고리에 서브 카테고리가 없습니다.');
                    subSelect.append(defaultOption);
                }
            },
            error: function(error) {
                console.error('Error fetching sub-categories:', error);
            }
        });
    }

    $('#mainSelect').on('change', function() {
        var selectedMainCategoryId = $(this).val();
        if (selectedMainCategoryId && selectedMainCategoryId !== '메인 카테고리 선택') {
            selectSubCategories(selectedMainCategoryId);
        } else {
            $('#subSelect').empty();
            var defaultOption = $('<option></option>')
                .text('서브 카테고리 선택');
            $('#subSelect').append(defaultOption);
        }
    });
</script>

</body>

<%- include('../footer.ejs') %>