<h4>
    <span>목록</span>
</h4>

<% data.forEach(mainCategory => { %>


    <ul class="sidebar-list">
        <li>
            <div class="menu-toggle" onclick="mainToggle(this)">
                <%= mainCategory.title %> (<%= mainCategory.subCategories.length %>)
            </div>
            <ul class="sidebar-sub-list">
                <li>
                    <% mainCategory.subCategories.forEach(subCategory => { %>
                        <div class="sub-toggle" onclick="subToggle(this)">
                            <%= subCategory.title %> (<%= subCategory.posts.length %>)
                        </div>
                        <ul class="sidebar-post-list">
                            <li>
                                <% subCategory.posts.forEach(posts => { %>
                                    <div class="post-detail">
                                        <a href="/posts/<%= posts.id %>"><%= posts.title %></a>
                                    </div>
                                <% }) %>
                            </li>
                        </ul>
                    <% }) %>
                </li>
            </ul>
        </li>
    </ul>
<% }) %>
